
<form class="form-horizontal" id="LoginForm" name="LoginForm" ng-submit="userlogin()" >
	<div>
      <span style="display: none; color:red" class="error-msg">Please check your credentials</span>
      </div>
  <div>
      Username:&nbsp;&nbsp;&nbsp;<input type="text" id="username" ng-model="username" class="form-control" placeholder="Enter your username"/>
  </div><br><br>
  <div>
    Password:&nbsp;&nbsp;&nbsp;<input type="password" id="jobportal" ng-model="password" class="form-control" placeholder="Enter your password"/>
    </div><br><br>
<button type="submit" class= "btn btn-primary">Submit</button> 
</form>


